<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />	
    <title>{% block title %}Главная{% endblock %}</title>
</head>
<body>
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Выйти</a>
    {% else %}
        <a href="{% url 'login' %}">Войти</a>
        <a href="{% url 'signup' %}">Регистрация</a>
    {% endif %}

    {% if messages %}
	<ul class="messages">
	    {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    {% endfor %}
	</ul>
    {% endif %}

    {% block content %}
    {% endblock %}
</body>
</html>
